.App {
  text-align: center;
}

/* Todo List css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set container height to 100% of viewport height */
}

.todo-list {
  width: 500px; /* Set the width of the todo list */
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.todo {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style-type: none; /* Remove default list-style (bullets) */
}

.todo input[type="text"] {
  width: calc(100% - 40px);
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo button {
  padding: 5px 10px;
  border: none;
  background-color: #35dcce88;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.add-button {
  margin-left: 10px;
  margin-right: 50px;
}
